#root {
  padding: 0rem 0rem;
  text-align: center;
  color: rgb(19, 19, 77);
  background-color: rgb(53, 34, 151);
  background-image: linear-gradient(rgb(7, 1, 18), rgb(58, 28, 167));
  /*background-image: url("./assets/images/futuristic-background.jpg");*/
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: scroll;
}

:root {
	background-color: rgb(34, 118, 151);
  
}

*{
  margin: 0;
  font-family: mono;
}

.custom-border {
  padding: 1.4rem
}

/* BORDER */


@media screen and (min-width: 0px) {
  .custom-border {
    border: solid 1.2rem 0rem;
    /*border-image: url("./assets/images/clip-art-vector-gold-pattern-frame-29b487e83e793b102f9ce94f4801ce70.png") 70 stretch;*/
  }
}


/*SCROLL BAR */

.topics::-webkit-scrollbar-track
{
  border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.topics::-webkit-scrollbar
{
  border-radius: 1rem;
	width: 13px;
	background-color: #F5F5F5;
}

.topics::-webkit-scrollbar-thumb
{
  border-radius: 1rem;
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
                      rgba(255, 255, 255, .2) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, .2) 50%,
                rgba(255, 255, 255, .2) 75%,
                transparent 75%,
                transparent)
}

/* BACK BUTTON */

.button-19 {
  appearance: button;
  background-color: hsla(0, 60%, 39%, 0.329);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0 auto;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 150px;
}

.button-19:after {
  background-clip: padding-box;
  /*background-color: hsla(56, 76%, 40%, 0.788);*/
  background-color: hsla(243, 72%, 24%, 0.788);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}



/* CHALLENGE BUTTON */
.button-83 {
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button-83:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}