#root {
  padding: 0rem;
  text-align: center;
  color: rgb(19, 19, 77);
  height: 100vh;
  background-color: rgb(34, 118, 151);
}

*{
  margin: 0;
}

#head{
  background-color: rgb(34, 118, 151);
  padding: 0.5rem 1rem;
  color: rgb(253, 229, 179);
}



.topics::-webkit-scrollbar-track
{
  border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.topics::-webkit-scrollbar
{
  border-radius: 1rem;
	width: 13px;
	background-color: #F5F5F5;
}

.topics::-webkit-scrollbar-thumb
{
  border-radius: 1rem;
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
