#root {
  padding: 0rem;
  text-align: center;
  color: rgb(19, 19, 77);
  height: 100vh;
  background-color: rgb(34, 118, 151);
}

*{
  margin: 0;
}

#head{
  background-color: rgb(34, 118, 151);
  padding: 0.5rem 1rem;
  color: rgb(253, 229, 179);
}

